<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add_Article</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>
<body>
<script type="text/javascript">
    function yesnoCheck(that) {
    if ( that.value === "new") {
        document.getElementById("ifYes").style.display = "block";
    } else {
        document.getElementById("ifYes").style.display = "none";
    }
}
</script>
<div class="container">
      <h2>Adding New Article:</h2>
  <form method="POST" enctype="multipart/form-data" action="{% url 'AddArticle' %}">
{% csrf_token %}
      <div class="form-group">
          <label for="categoaries">Choose Categoary:</label>
          <select name="selectcategoary" id="multiselect" class="form-control"  onchange="yesnoCheck(this);">
              {% for item in categories %}
                  <option value="{{ item.id }}">{{ item.name }}</option>
              {% endfor %}
              <option value="new">Add new Categoary</option>
          </select>

      </div>

     <div class="form-group" id="ifYes" style="display: none;">
    <label>New Categoary name :</label>
         <input type="text" id="categoary" name="categoary" class="form-control"><br />
</div>
  <div class="form-group">

<label>Title:</label>
        <input type="text" class="form-control" name="title"><br/>
  </div>
    <div class="form-group">
      <label>Description:</label>
        <input type="text" class="form-control" name="description"><br/>
    </div>

      <div class="form-group">
      <label>Paragraph:</label>
        <input type="text" class="form-control" name="paragraph"><br/>
    </div>

       <div class="form-group">
      <label>date:</label>
        <input type="date" class="form-control" name="date"><br/>
    </div>



       <div class="form-group">
      <label>image:</label>
        <input type="file" class="form-control" name="image">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>



</div>

</body>
</html>
