<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    {% for item in categories %}
  <form class="form-inline" method="POST" action="{% url 'home' %}">
  {% csrf_token %}
    <input type="submit" style="margin: 10px" class="btn btn-success"  name="categoary" value="{{ item.name }}">
    <input type="hidden" name="categoary_id" value="{{item.id}}">
  </form>
    {% endfor %}

<form class="form-inline" method="POST" action="{% url 'AddnewCategoary' %}">
        {% csrf_token %}
      <input type="submit" style="margin-left: 440px" class="btn btn-light btn-lg" name="new" value="Add new Categoary">
 </form>
</nav>


</body>
</html>
